/* ============= Base ============= */

/*********** Theme Generic **********/
body { 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $theme-text-color-secondary;
    
}

h1, h2, h3, h4, h5, h6 {
	color: $theme-text-color-primary;
	font-weight: bold;
}

.btn {
	font-weight: bold;
	padding: .375rem 1rem;
	@include transition(all 0.4s ease-in-out);
}

.btn:focus, .btn.focus {
	box-shadow: none !important;
}

.btn-primary {
	color: #fff;
}

.form-control {
	padding-top: 0.875rem;
	padding-bottom: 0.875rem;
	height: 2.75rem;
	border-color: $theme-border-color;
}

.theme-bg-light {
	background: $theme-bg-light !important;
}
.theme-bg-dark {
	background: $theme-bg-dark !important;
}
/* Header */
.header {
	position: fixed;
	left: 0;
	top: 0;
	height:100vh;
	width: $sidebar-width;
	background: $theme-color-primary;
	color: #fff;
	
	
	
	.blog-name {
		font-weight: bold;
		font-size: 1.5rem;
		color: #fff;
		a {
			color: #fff;
			&:hover {
				text-decoration: none;
			}
		}
	}
	
	.btn-primary {
		background: rgba(0, 0, 0, 0.3);
		border-color: transparent;
		font-size: 1rem;
		padding-top: 0.5rem;
		&:hover {
			background: rgba(0, 0, 0, 0.4);
			border-color: transparent;
		}
	}
	
	
	.navbar {
	    padding: 2rem 1rem;
    }
    
    .navbar-dark {
	    
	    .navbar-toggler {
		    @include border-radius(2px);
		    @include opacity(0.8);
		    border: 1px solid rgba(256, 256, 256, 0.8);
		    padding: .25rem .6rem;
		    
		    &:hover {
			    @include opacity(1);
			    
		    }
	    }
	    
	    
	    .navbar-toggler-icon {
		   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256,256,256, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	    }
    }
    
    .nav-item {
	    font-weight: bold;
	    &.active {
		    .nav-link {
			   
		       color: rgba(0, 0, 0, 0.5); 
		       &:hover {
				    text-decoration: none;
			    }
		    }
		    
		    
	    }
	    .nav-link {
		    color: rgba(256, 256, 256, 0.8);
		    &:hover {
			    text-decoration: underline;
			    color: rgba(0, 0, 0, 0.6); 
		    }
	    }
	    
	    
    }
}

/*profile teaser*/
.profile-teaser {
    .name{
        font-size:3rem;
    }
    
    .profile-image{
		max-width:400px;
		border-radius: 0px 19px 0px 18px;
		-moz-border-radius: 0px 19px 0px 18px;
		-webkit-border-radius: 0px 19px 0px 18px;
		border: 2px solid $theme-color-primary;
		
    }
    
    .tagline{
        font-size:1.5rem;
        font-weight:300;
    }
}


/*profile sidebar*/
.profile-section {
	.profile-image {
		max-width: 160px;
	}

	.bio {
		font-size: 0.875rem;
		a {
			color: #fff;
			text-decoration: underline;
			
			&:hover {
				color: rgba(0, 0, 0, 0.6);
				
			}
		}
	}
}

/*sidevar social icon*/
.social-list {

	a {
		width: 32px;
		height: 32px;
		padding-top: 5px;
		display: inline-block;
		text-align: center;
		@include border-radius(50%);
		@include transition(all 0.4s ease-in-out);
		background-color: #fff;
		&:hover {
			color: darken($theme-color-primary, 10%);
			background-color: rgba(256, 256, 256, 0.8);
		}
	}
}

/*scroll sidevar*/
.scroll{
    overflow-y:scroll;
	height: 100%;
	
	scrollbar-color: $theme-color-primary-dark transparent;
  	scrollbar-width: thin;
	  
	//estilo para chrome
	&::-webkit-scrollbar {
    	width: 7px;
	}
	&::-webkit-scrollbar-thumb {
		background: $theme-color-primary-dark;
		border-radius: 5px;
	}
}

/* Main wrapper */
.main-wrapper {
	margin-left: $sidebar-width;
	background: #fff;
}

.cta-section {
	.heading {
		font-size: 2rem;
		font-weight: bold;
	}
}


/*section*/
.section-title {
    font-size: 2rem;
    position: relative;
    padding-left: 1.5rem;
    padding-bottom: 0.75rem;
    
    &:before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 100%;
        background: $theme-color-primary;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    &:after {
        background: linear-gradient(90deg, $theme-color-primary 0%, rgba(255,255,255,1) 100%);
        bottom: 0;
        content: '';
        height: 5px;
        position: absolute;
        right: 0;
        width: 100%;
    }
}

.subtitle {
	padding: 0px 10px 3px 30px;
	background-color: $theme-color-primary;
	display: inline-block;
	color: white;
}

.third-title {
	padding: 0px 10px 3px 30px;
	display: inline-block;
	color: $theme-color-primary;
	border-style: solid;
	border-color: $theme-color-primary;
	border-width: 1px;
}

.error {
    color:$error-color;
}

.error-bg {
	background-color: $error-color;
}

.error-bg-light {
	background-color: $error-color-bg;
}

.success {
    color:$success-color;
}

.success-bg {
	background-color: $success-color;
}

.success-bg-light {
	background-color: $success-color-bg;
}

.color-main {
    color: $theme-color-primary;
}

/*sobreescrito de bootstrap*/
.progress {
	background-color: $theme-bg-light;
}

.progress-bar {
	background-color: $theme-color-primary;
}

/* Footer */
.footer {
	color: rgba(256, 256, 256, 0.7);
	a {
		color: #fff;
	}
}

.hide {
	display: none;
}

.show {
	display: block;
}

.gray-light {
	color: $gray-light;
}

/* skills */
.skill-icon {
	background-color: $theme-color-primary;
	width: 80px;
	height: 80px;
	padding-top: 1.25rem;
	top: -40px;
	left: 50%;
	margin-left: -40px;
}