/* ============= Blog Page ============= */
.blog-list {
	.item {
		.title {
			font-size: 1.275rem;
			a {
			    color: $theme-text-color-primary;	
			    &:hover {
				    color: $theme-text-color-primary;
			    }
			}
			
		}
		.post-thumb {
			max-width: 110px;
			@include border-radius(2px);
		}
		
		
		.intro {
			font-size: 0.875rem;
		}
		.more-link {
			font-size: 0.8125rem;
		}
	}
}

.meta {
	color: $theme-text-color-light;
	font-size: 0.8125rem;
	span {
		display: inline-block;
		a {
			color: $theme-text-color-light;
			&:hover {
				color: $theme-text-color-secondary;
			}
		}
		&:after {
			content: "";
			display: inline-block;
			width: 3px;
			height: 3px;
			@include border-radius(50%);
			background: $theme-text-color-light;
			margin-left: 0.5rem;
			margin-right: 0.5rem;
			position: relative;
			top: -3px;
		}
		&:last-child {
			&:after {
				display:none;
			}
		}
	}
	
}

.blog-nav {
	.nav-link {
		background: $theme-color-primary;
		color: #fff;
		font-size: 1rem;
		padding: 1rem;
		font-weight:bold;
		position: relative;
		&:hover {
			background: darken($theme-color-primary, 10%);
		}
	}
	.nav-link-prev {
		border-right: 1px solid darken($theme-color-primary, 20%);
	}
	.arrow-prev {
		position: absolute;
		left: 1rem;
		top: 1.25rem;
		color: #fff;
	}
	
	.arrow-next {
		position: absolute;
		right: 1rem;
		top: 1.25rem;
		color: #fff;
	}
}


.blog-post {
	.title {
		font-weight: bold;
		font-size: 2rem;
	}
	.blog-post-body {
		p, li {
			font-size: 1.125rem;
			line-height: 1.6;
		}
        h1 {
	        font-size: 2.125rem;
        }
        h2 {
	        font-size: 2rem;
        }
        h3 {
	        font-size: 1.75rem;
        }
        h4 {
	        font-size: 1.5rem;
        }
        h5 {
	        font-size: 1.25rem;
        }
        h6 {
	        font-size: 1.125rem;
        }
	}
	.image-caption {
		color: $theme-text-color-light;
		font-size: 0.875rem;
		a {
			color: $theme-text-color-light;
			text-decoration: underline;
			&:hover {
				color: $theme-text-color-secondary;
			}
		}
	}
	.blockquote {
		font-family: Georgia,"Times New Roman",Times,serif;
		border-left: 2px solid $theme-text-color-primary;
		font-size: 1.5rem;
		p {
			font-size: 1.5rem;
		}
	}
}

.floating-box {
    -webkit-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.5);
    border-radius: 5px;
	margin-right: 15px;
	
	//scroll X
	overflow-x:scroll;
	height: 100%;
	border-radius: 3px;
	
	//estilos para firefox scroll X
	scrollbar-color: $gray-light darken($gray-light, 12);
  	scrollbar-width: thin;
	  
	//estilos para el resto de navegadores scroll X
	&::-webkit-scrollbar {
		height: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background: $gray-light;
		border-radius: 3px;
	}
	&::-webkit-scrollbar-track {
		background: darken($gray-light, 12);
	}
}

.leyend {
	ul {
		list-style-type:none;
		font-weight: bold;
		a{
			color: $theme-text-color-primary;
			

			&:before {
				content: "# ";
				color: $theme-color-primary;
			}
		}
		ul{
			font-weight: normal;
			ul{
				a{
					color: $theme-text-color-light;
				}
			}
		}
	}
}

.code-line {
    background: $theme-bg-light !important;
    color: $theme-color-primary;
    padding: 2px 4px;
}

.blog  {
	h3, h4 {
		font-size: 1rem;
	}
}
