/* ============= Quiz ============= */

.size50 {
    width: 50% !important;
}

.quiz-text-button {
    font-weight: normal;
}

.question {
    font-size: 1.25rem;
}

.quiz-puntos {
    font-size: 3.5rem;
}

.quiz-titulo-puntos {
    font-size: 1.35rem;
}