// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .theme-btn-cta {
		width: inherit;
		display: inline-block;
	}
	.cta-section .form-inline .form-control {
	    width: 360px;
    }
    .card-img-top {
        height: 200px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

@media (max-width: 1200px) {
    .card-limit {
        i {
            padding-top: 1rem;
            font-size: 3.7rem;
            margin-right: 7px;
        }
        li{
            font-size: 3.2rem;
            margin-top: 7%;
        }
    }
    .profile-teaser {
        .profile-image{
            max-width:250px;
        }
    } 
}


// We occasionally use media queries that go in the other direction (the given screen size or smaller):
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	
	.header {
		position: static;
		width: inherit;
		height: auto;
		.blog-name {
			width: 100%;
			position: absolute;
			left: 0;
			top: 1.2rem;
			
		}
		.btn-primary {
			width: 100%;
		}

	}
    
    .header .navbar {
	    padding: 1rem;
    }
    
    .main-wrapper {
	    margin-left: 0;
    }
    
    .card-limit {
        .item{
            font-size: 2.5rem;
            margin-top: 7%;
        }
        .fa-tint {
            margin-left: 0px;
            margin-right: 0px;
        }
    }  
    .profile-teaser {
        .profile-image{
            max-width: 100%;
        }
    }
    
    //quiz
    .answer-block {
        width: 100%;
    }

    .progress-block {
        top: 72px;
        width: 100%;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

	.signup-form {
		.form-group {
			width: 100%;
			margin-bottom: 0.5rem;
		}
		.form-control {
			width: 100%;
		}
		.btn-primary {
			width: 100%;
		}
	}
    .card-img-top {
        width: 100%;
        flex-shrink: 0;
    }
    
    .card-limit {
        .card-body{
            margin-left: 0px;
            margin-right: 0px;
        }
        .space{
            margin-left: 10%;
        }
        .item {
            margin-top: 0px;
            font-size:1.8rem;
        }
        i {
            padding-top: 0.2rem;
            font-size: 2rem;
            margin-right: 3px;
        }
    }

    .flip-card {
        height: 350px;
    }

    .size50 {
        width: 100% !important;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .flip-card {
        height: 450px;
    }
}

// Extra extra small devices (portrait phones, less than 400px)
@media (max-width: 400px) {
    .flip-card {
        height: 500px;
    }
}